/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'ngx-toastr/toastr';
@import '../node_modules/font-awesome/css/font-awesome.css';


.form-control {
    max-width: 300px;
    /* Adjust the maximum width as needed */
    width: 100%;
    /* Make it responsive and take the full width of the container */
}

a {
    color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}